<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		Hey Team, <br /><br />
		Cheers, <br /><br />

		<p>You received payment and Someone just purchased your plan</p>
		<br />

		<b>Plan name :</b> <%= plan_name %> <br />
		<b>Quantity :</b> <%= quantity %> <%= month_year %> <br /><br />

		<b>Customer details </b> <br />
		<b>Name :</b> <%= name %> <br />
		<b>Email :</b> <%= email %> <br />
		<b>Phone :</b> <%= phone %> <br />
		<b>Amount paid :</b> <%= amount %> <br />
		<b>Coupon code used :</b> <%= coupon_code %> <br />
		<b>From Offer Name :</b> <%= offer_name %> <br />

		<br /><br />
		Regards<br />
		Tech team
	</body>
</html>
