<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	.button {
	  background-color: Crimson;  
	  border-radius: 5px;
	  color: white;
	  padding: .5em;
	  text-decoration: none;
	}
	</style>
</head>
<body>

Hey <%= name %> ! <br>

<p>Congrats on your purchase :)</p><br>
<p><b>Here are your items:</b></p>
<p>PowerGotha Online Record Book Premium subscription for <%= quantity %> <%= month_year %> </p><br>
<b>Coupon :</b> <%= coupon %> <br>
   <b>Coupon Code :</b> <%= coupon_code %> <br>
   <b>Offer :</b> <%= offer %> <br>
   <b>Offer Name :</b> <%= offer_name %> <br>
   <b>Amount Paid :</b> <%= amount %> <br>
<br>
<p><b>Redemption :</b></p>
<p>You're account is activated</p>
<br><br>
<p><b>Need help?</b></p>
<p>For issues app, email us at support@powergotha.com</p>

<br>
<p><b>Questions? </b>Take a look at our FAQ in the app or email us at support@powergotha.com</p><br><br>
<p>Call us at 9930528585</p>
<p>WhatsApp us at 9112219610</p>

<!-- <button class="block" type="button" formaction ="http://google.com">Write Records Now</button> -->
<a href="https://orb.powergotha.com/api/daily_record_phone"><button class="button">Write Records Now</button></a>

<br><br><br>

<a href="http://youtube.com/powergotha/"><img src="http://13.229.224.127/power_gotha/public/Images/youtube.png" alt="YouTube" /></a>
<a href="http://facebook.com/powergotha/"><img src="http://13.229.224.127/power_gotha/public/Images/facebook.png" alt="Facebook" /></a>

<br><br>
Best regards,<br>
Team PowerGotha.

</body>
</html> 