<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		Hey Admin, <br />
		<p>Enquiry from <%= first_name %></p>
		<br />

		<b>Enquiry details </b> <br />
		<hr align="left" width="15%" />
		<br />
		<b>First Name :</b> <%= first_name %> <br />
		<b>Last Name :</b> <%= last_name %> <br />
		<b>Phone :</b> <%= phone %> <br />
		<b>Email :</b> <%= email %> <br /><br />
		<b>Query :</b> <%= query %> <br />
	</body>
</html>
