<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>

table,
table th,
table td{
	text-align: center;
}

</style>
<center><h1>All Animal Breeding History Report</h1></center> <br>
</head>

<body>
<div class="container">
	<h3 style="font-family:'Times New Roman', Times, serif;">Pregnant Animals</h3><hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Animal</th>
				<th>Breeding History</th>
			</tr>
		</thead>
		<tbody>
			<% if(reportData && reportData.pregnant && Object.keys(reportData.pregnant).length > 0) { %>
			   <% Object.keys(reportData.pregnant).forEach(function(key) { 
			   		const history = reportData.pregnant[key]; %>
				<tr>
					<td><%= key %></td> 
					<td>
						<div class="container">
							<h4>AI History</h4>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Date Of AI</th>
										<th>Bull Number</th>
										<th>Mother Yield</th>
										<th>Semen Company Name</th>
									</tr>
								</thead>
								<tbody>
									<% if(history.aiHistory && history.aiHistory.length > 0) { %>
									   <% history.aiHistory.forEach(function(value) { %>
										<tr>
											<td><%= value.dateOfAI ? value.dateOfAI : '' %></td>
											<td><%= value.bullNumber ? value.bullNumber : '' %></td>
											<td><%= value.motherYield ? value.motherYield : '' %></td>
											<td><%= value.semenCompanyName ? value.semenCompanyName : '' %></td>
										</tr>
										<% }); %>
									<% } %>
								</tbody>
							</table>

						    <h4>Delivery History</h4>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Calf Number</th>
										<th>Date Of Delivery</th>
										<th>Type of Delivery</th>
									</tr>
								</thead>
								<tbody>
									<% if(history.deliveryHistory && history.deliveryHistory.length > 0) { %>
										<% history.deliveryHistory.forEach(function(value) { %>
										<tr>
											<td><%= value.calfNumber %></td>
											<td><%= value.dateOfDelvery %></td>
											<td><%= value.typeOfDelivery %></td>
										</tr>
										<% }); %>
									<% } %>
								</tbody>
							</table>

							<h4>Heat History</h4>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Heat Date</th>
									</tr>
								</thead>
								<tbody>
									<% if(history.heatHistory && history.heatHistory.length > 0) { %>
										<% history.heatHistory.forEach(function(value) { %>
										<tr>
											<td><%= value.heatDate %></td>	
										</tr>
										<% }); %>
									<% } %>
								</tbody>
							</table>
                        </div>
                 </td> 
				</tr>
				<% }); %>
			<% } %>
		</tbody>
	</table>
	<h3 style="font-family:'Times New Roman', Times, serif;">Non Pregnant Animals</h3><hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Animal Number</th>
				<th>Breeding History</th>
			</tr>
		</thead>
		<tbody>
			<% if(reportData && reportData.no_pregnant && Object.keys(reportData.no_pregnant).length > 0) { %>
			   <% Object.keys(reportData.no_pregnant).forEach(function(key) { 
			   		const history = reportData.no_pregnant[key]; %>
				<tr>
					<td><%= key %></td> 
					<td>
						<div class="container">
							<h4>AI History</h4>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Date Of AI</th>
										<th>Bull Number</th>
										<th>Mother Yield</th>
										<th>Semen Company Name</th>
									</tr>
								</thead>
								<tbody>
									<% if(history.aiHistory && history.aiHistory.length > 0) { %>
									   <% history.aiHistory.forEach(function(value) { %>
										<tr>
											<td><%= value.dateOfAI ? value.dateOfAI : '' %></td>
											<td><%= value.bullNumber ? value.bullNumber : '' %></td>
											<td><%= value.motherYield ? value.motherYield : '' %></td>
											<td><%= value.semenCompanyName ? value.semenCompanyName : '' %></td>
										</tr>
										<% }); %>
									<% } %>
								</tbody>
							</table>

						    <h4>Delivery History</h4>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Calf Number</th>
										<th>Date Of Delivery</th>
										<th>Type of Delivery</th>
									</tr>
								</thead>
								<tbody>
									<% if(history.deliveryHistory && history.deliveryHistory.length > 0) { %>
										<% history.deliveryHistory.forEach(function(value) { %>
										<tr>
											<td><%= value.calfNumber %></td>
											<td><%= value.dateOfDelvery %></td>
											<td><%= value.typeOfDelivery %></td>
										</tr>
										<% }); %>
									<% } %>
								</tbody>
							</table>

							<h4>Heat History</h4>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Heat Date</th>
									</tr>
								</thead>
								<tbody>
									<% if(history.heatHistory && history.heatHistory.length > 0) { %>
										<% history.heatHistory.forEach(function(value) { %>
										<tr>
											<td><%= value.heatDate %></td>	
										</tr>
										<% }); %>
									<% } %>
								</tbody>
							</table>
                        </div>
                 </td> 
				</tr>
				<% }); %>
			<% } %>
		</tbody>
	</table>
</div>

</body>

</html>