<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>

table,
table th,
table td{
	text-align: center;
}

</style>
<center><h1>Animal Breeding History Report</h1></center> <br>
</head>

<body>
<div class="container">
	<h3 style="font-family:'Times New Roman', Times, serif;">Animal Number: <%= reportData && reportData.animal_number ? reportData.animal_number : '' %></h3><hr>
	<h4>AI History</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Date Of AI</th>
				<th>Bull Number</th>
				<th>Mother Yield</th>
				<th>Semen Company Name</th>
			</tr>
		</thead>
		<tbody>
			<% if(reportData && reportData.aiHistory && reportData.aiHistory.length > 0) { %>
			   <% reportData.aiHistory.forEach(function(value) { %>
				<tr>
					<td><%= value.dateOfAI ? value.dateOfAI : '' %></td>
					<td><%= value.bullNumber ? value.bullNumber : '' %></td>
					<td><%= value.motherYield ? value.motherYield : '' %></td>
					<td><%= value.semenCompanyName ? value.semenCompanyName : '' %></td>
				</tr>
				<% }); %>
			<% } %>
		</tbody>
	</table>

    <h4>Delivery History</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Calf Number</th>
				<th>Date Of Delivery</th>
				<th>Type of Delivery</th>
			</tr>
		</thead>
		<tbody>
			<% if(reportData && reportData.deliveryHistory && reportData.deliveryHistory.length > 0) { %>
				<% reportData.deliveryHistory.forEach(function(value) { %>
				<tr>
					<td><%= value.calfNumber %></td>
					<td><%= value.dateOfDelvery %></td>
					<td><%= value.typeOfDelivery %></td>
				</tr>
				<% }); %>
			<% } %>
		</tbody>
	</table>

	<h4>Heat History</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Heat Date</th>
			</tr>
		</thead>
		<tbody>
			<% if(reportData && reportData.heatHistory && reportData.heatHistory.length > 0) { %>
				<% reportData.heatHistory.forEach(function(value) { %>
				<tr>
					<td><%= value.heatDate %></td>	
				</tr>
				<% }); %>
			<% } %>
		</tbody>
	</table>
</div>

</body>

</html>