<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
table,
table th,
table td{
	text-align: center;
	padding:5px;
}
</style>
</head>

<body>

<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Expense</th>
				<th>Income</th>
				<th>Profit/Loss</th>
				<th>Green Feed Expense</th>
				<th>Dry Feed Expense</th>
				<th>Cattle Feed Expense</th>
				<th>Supplements Expense</th>
				<th>Other Expense</th>	
			</tr>
		</thead>
		<tbody>
			<% if (incomeExpense && incomeExpense.expenseData) { %>
				<% incomeExpense.expenseData.forEach(function(value) { %>
					<tr>
						<td><%= value.Date %></td>
						<td><%= value.Expense %></td>
						<td><%= value.Income %></td>
						<td><%= value.Profit %></td>
						<td><%= value.GreenFeed %></td>
						<td><%= value.DryFeed %></td>
						<td><%= value.CattleFeed %></td>
						<td><%= value.Supplement %></td>
						<td><%= value.OtherExpense %></td>
					</tr>
				<% }); %>
			<% } %>

			<tr style="margin-top: 20px">
				<th>Totals:</th>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalExpense) ? incomeExpense.totalExpenseData.totalExpense : '' %></td>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalIncome) ? incomeExpense.totalExpenseData.totalIncome : '' %></td>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalProfit) ? incomeExpense.totalExpenseData.totalProfit : '' %></td>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalGreenFeed) ? incomeExpense.totalExpenseData.totalGreenFeed : '' %></td>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalDryFeed) ? incomeExpense.totalExpenseData.totalDryFeed : '' %></td>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalCattleFeed) ? incomeExpense.totalExpenseData.totalCattleFeed : '' %></td>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalSupplement) ? incomeExpense.totalExpenseData.totalSupplement : '' %></td>
				<td><%= (incomeExpense && incomeExpense.totalExpenseData && incomeExpense.totalExpenseData.totalOtherExpense) ? incomeExpense.totalExpenseData.totalOtherExpense : '' %></td>
			</tr>

		</tbody>
	</table>

</div>

</body>

</html>